	<section class="o-section c-component-six">
	    <div class="o-wrapper-main">
	        <div class="o-wrapper-secondary">
	        	<div class="o-wrapper-thirdly">
	        		<h1>{{entry.title}}</h1>
					{% for block in entry.listContent.all() %}
    					{% if block.type == "listContentTab" %}
    						<div class="c-component-six_wrap">
								<h2>{{block.listContentTitle}}</h2>
								{{block.listContentContent}}
							</div>
    					{% endif %}
					{% endfor %}					
				</div>
			</div>
		</div>
	</section>