{% if type == 0 %}
{% set title = entry.titlev0 %}
{% set content = entry.contentv0 %}
{% set list = entry.component3Listv0 %}
{% set gallery = entry.imagesGalleryv0 %}

{% elseif type == 1 %}
{% set title = entry.titlev1 %}
{% set content = entry.contentv1 %}
{% set list = entry.component3Listv1 %}
{% set gallery = entry.imagesGalleryv1 %}

{% elseif type == 2 %}
{% set title = entry.titlev2 %}
{% set content = entry.contentv2 %}
{% set list = entry.component3Listv2 %}
{% set gallery = entry.imagesGalleryv2 %}

{% endif %}
	<section class="o-section c-component-three">
	    <div class="o-wrapper-main">
	        <div class="o-wrapper-secondary">
	        	<div class="c-component-three_img {% if display == 0%}{% else %}-mg-left{% endif %}">
	        		<div class="c-gallery -{{type}}">
	{% for image in gallery %}
		<div style="background: url('{{image.url()}}')"></div>
	{% endfor %}	     
	</div>   		
	        	</div>
	        	<div class="c-component-three_content {% if display == 0%}-right{% else %}-left{% endif %}">
				<h2>{{title}}</h2>
				<div class="c-component-three_text">
				{{content}}
				</div>
				{% include "_pages/components/component-two-a" with {data: list.all() } %}
				</div>
								<div class="c-option {% if display == 0%}-float-right{% else %}-float-left{% endif %}">
		<div class="c-arrows -{{type}}">
		
		</div>				
		<div class="c-status"></div>
		</div>
			</div>
		</div>
	</section>