<section class="o-section c-component-nine">
    <div class="o-wrapper-main">
        <div class="o-wrapper-secondary">
			<div id="google-maps"></div>
			<div class="c-info">
				<div class="c-icon -address"><p>{{info.infoAddress|nl2br}}</p></div>
				<div class="c-icon -contact"><ul class="o-layout">
					<li class="o-layout__item u-1/1">Tél. : {{info.globalPhone}}</li>
					<li class="o-layout__item u-1/1">Fax : {{info.infoFax}}</li>					
					<li class="o-layout__item u-1/1">Sans frais : {{info.globalPhoneTollFree}}</li>
				</ul></div>
				<div class="c-icon -email"><a href="mailto:{{info.infoEmail}}">{{info.infoEmail}}</a></div>							
				<div class="c-icon -business-hours">
					<p class="c-business-hours_title">Heures d'ouverture</p>
					{{info.infoTicketsContent}}
				</div>
				<div class="c-button -one">
					<a class="c-btn c-btn--primary" href="{{info.teamLink.getUrl()}}">
						<span>{{info.teamLink.text}}</span>
					</a>
				</div>
			</div>
			</div>
		</div>
</section>