	<section class="o-section c-component-one">
	    <div class="o-wrapper-main">
	        <div class="o-wrapper-secondary">
	        	<div class="o-wrapper-thirdly">
	        		{% if title == 0 %}<h1>{{entry.title}}</h1>{% endif %}

	        		<h2>{{entry.componentOneTitle}}</h2>
	        		{% if entry.type == "news"%}
	        		{% if entry.newsImage%}
	        			<img class="c-single_image" src="{{entry.newsImage.one.url()}}">
	        		{% endif %}
	        		{% endif %}
					{{entry.componentOneContent}}
				</div>
			</div>
		</div>
	</section>