    <section class="o-section c-component-two">
        <div class="o-wrapper-main">
            <div class="o-wrapper-secondary">
                <div class="o-wrapper-thirdly">
                    {% include "_pages/components/component-two-a" with {data: test } %}
                </div>
            </div>
        </div>
    </section>