<ul class="o-list-bare c-list_ul">
    {% for block in data %}
        {% if block.type == "listTab" %}
            <li>
                <div class="c-list_displayed">
                    <p class="c-list_title">{{ block.listTitle }}</p>
                    <div class="c-list_item_status closed">
                        <div class="horizontal"></div>
                        <div class="vertical"></div>
                    </div>
                </div>
                <div class="c-list_content">
                    {{block.listContent}}
                    {% if type == 1%}
                        {% if block.component7Activities%}
                            <ul class="o-layout c-activities_ul">
                                {% for row in block.component7Activities.all() %}
                    				<li class="o-layout__item u-1/2@portrait-small-tablet">
                    					<figure>
                    						<a href="{{row.component7ActivitiesLink}}" target="_blank">
                    							<img src="{{row.component7ActivitiesImage.one.url()}}" alt="">
                    							<figcaption>
                    							 <h3>{{ row.component7ActivitiesName }}</h3>
                                                </figcaption>
                							</a>
                						</figure>
                    				</li>
                				{% endfor %}		
                		    </ul>		        
                		{% endif %}
                    {% endif %} 
{% if block.listFiles %}
<ul class="c-files">
{% for file in block.listFiles %}
<li><a href="{{file.url()}}" target="_blank">{{file.title}}</a></li>
{% endfor %}
</ul>
{% endif %}                    
            	</div>
            </li>
        
    {% endif %}


    {% endfor %}
</ul>