	<section class="o-section c-component-five">
	    <div class="o-wrapper-main">
	        	<div class="c-form">
					<form  id="c-form" method="post" action="" accept-charset="UTF-8">
					    {{ csrfInput() }}
					    <input type="hidden" name="{{ craft.app.config.general.csrfTokenName }}" value="{{ craft.app.request.csrfToken }}">
						<input id="subject" type="hidden" name="subject" value="{% if entry.id == 705 %}Bénévolat{% else %}Dons et commandites{% endif %}">
					    <input type="hidden" name="action" value="contact-form/send">
					    {{ redirectInput('contact/thanks') }}

					    <div class="c-input">
					    <label for="from-name">{{'Complete name'|t}}</label>
					    <input id="from-name" type="text" name="fromName" value="">
					    <div class="c-status"></div>
					    </div>

					    <div class="c-input">
					    <label for="from-email">{{'Email'|t}}</label>
					    <input id="from-email" type="email" name="fromEmail" value="">
					    <div class="c-status"></div>
					    </div>

					    <div class="c-input">
					    <label for="phone">{{'Phone number'|t}}</label>
					    <input id="phone" type="text" name="message[Téléphone]" value="" required>					    
					    <div class="c-status"></div>
					    </div>

					    <div class="c-input">
					    <label for="message">Message</label>
					    <textarea rows="10" cols="40" id="message" name="message[Description]" required></textarea>
					    <div class="c-status"></div>
					    </div>
						<div class="c-submit">
						<div class="c-button"><div class="c-btn c-btn--primary"><input type="submit" value="{{'Submit'|t}}"></div></div>	
					    </div>
					</form>
	        	</div>
	        	<div class="c-confirmation">
	        		{% if entry.id == 705 %}
	        			<p>Merci d’avoir soumis votre candidature à titre de bénévole. Nous vous contacterons dans les plus brefs délais si votre profil correspond à l’un de nos postes disponibles.</p>
	        			{% else %}
	        			<p>Merci d’avoir communiqué avec nous. Nous vous contacterons dans les plus brefs délais si votre demande est retenue.</p>
	        		{% endif %}
	        	</div>
	        </div>
	</section>	        	