	<section class="o-section c-component-four">
	    <div class="o-wrapper-main">
	        <div class="o-wrapper-secondary">
				<h1>{{entry.title}}</h1>
				{% for block in entry.teamList.all() %}
				    {% if block.type == "teamListTab" %}
				        <h2>{{ block.teamListTitle }}</h2>
				        <ul class="o-layout c-component-four_ul">
							{% for row in block.teamListMember.all() %}
    							<li class="o-layout__item u-1/3@landscape-small-tablet u-1/2@portrait-small-tablet">
    								<figure>
    									{% if row.teamListMemberImage|length %}
    									<img src="{{ row.teamListMemberImage.one.url() }}" alt="">
    									{% else %}
    										<img src="{{siteUrl}}assets/images/placeholder/place-holder-equipe.png" alt="">
    									{% endif %}
    									<figcaption>
    										<h3>{{ row.teamListMemberName }}</h3>
    										<p class="c-role">{{row.teamListMemberRole}}</p>
											<a href="mailto:{{row.teamListMemberEmail}}">{{row.teamListMemberEmail}}</a>
										</figcaption>
									</figure>
    							</li>
							{% endfor %}				        
						</ul>
				    {% endif %}
				{% endfor %}				
	        </div>
	    </div>
	</section>