{% extends "_pages/layout/site.html" %}
{% block content %}

<section class="o-section c-description">
	<div class="o-wrapper-main">
		<div class="o-wrapper-secondary">
		<h2>Description du spectacle</h2>
		<div class="o-wrap">
			{{event.description}}
		</div>
	</div>
</section>

<div class="o-section c-video">
		<div class="o-wrapper-main">
		<div class="o-wrapper-secondary">
<div style="position:relative;padding-top:56.25%;">
<iframe class="c-video" width="100vw" height="315" src="https://www.youtube.com/embed/{{event.video}}?vq=hd1080&amp;rel=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;nologo=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
</div>

</div>
</div>
</div>
<section class="o-section c-description">
	<div class="o-wrapper-main">
		<div class="o-wrapper-secondary">
		<h3>{{info.serviceChargeTitle}}</h3>

		<div class="o-wrap -first">
			{{info.serviceChargeContent}}
		</div>
		<h3>{{info.refundPolicyTitle}}</h3>
		<div class="o-wrap">
			{{info.refundPolicyContent}}
		</div>		
	</div>
</section>




{% endblock %} 
