{% extends "_pages/layout/site.html" %}



{% block content %}


{# Set parameters for prev/next elements list #}
{% set params = craft.entries.section('news').order('title asc') %}

{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}



{% include "_pages/components/component-one" with {title: 0} %}



	<section class="c-pagination -news">
	    <div class="o-wrapper-main">
	        <div class="o-wrapper-secondary">
				<div class="c-pagination__item -prev">{% if prevEntry %}
<div class="c-button">
						<a class="c-btn c-btn--primary" href="{{ prevEntry.url }}"><span>Précédente</span></a>
					</div>


					{% endif %}</div>
				<div class="c-pagination__item">{% if nextEntry %}<div class="c-button -next">
						<a class="c-btn c-btn--primary -next" href="{{ nextEntry.url }}"><span>Suivante</span></a>
					</div>
{% endif %}</div>
			</div>
		</div>
	</section>
{% endblock %} 
