{% if currentUser %}
{% if event is defined %}
<section class="o-section c-photos">

    <div class="o-wrapper-main">
        <div class="o-wrapper-secondary">
            <p>Section visible que pour les personnes connectées</p>
<ul class="o-layout">
    <li class="o-layout__item u-1/2">
        <h3>Format 1</h3>
        <img src="{{event.showsHeaderImage.one.url('format1')}}" alt=""></li>
    <li class="o-layout__item u-1/2">
        <h3>Format 2</h3>
        <img src="{{event.showsHeaderImage.one.url('format2')}}" alt="">
    </li>
</ul> 

</div></div>
</section>
{% endif %}
{% endif %}


{# initialisation #}
    {% set baseUrl  = "" %}

{# declaration #}
    {% set baseUrl  = alias(craft.app.sites.primarySite.baseUrl) %}

{# code #}

    <!doctype html>

    
    <html lang="{{craft.app.language}}">
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
            {# <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> #}
                  
                            <link rel="stylesheet" href="{{ baseUrl }}/assets/css/app.css">
                <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">            
        </head> 
        <body id="barba-wrapper" >

<div class="c-page_load">
    
    <div class="c-logo">
    <img  src="{{ baseUrl }}/assets/images/logos/valspec_logo.svg" alt="">
    <div class="slider">
  <div class="line"></div>
  <div class="subline inc"></div>
  <div class="subline dec"></div>
</div>
</div>


</div>

        <div  class="barba-container {% if entry is defined %}{% if entry.type == 'home' %}c-type-home{% elseif entry.type == 'shows' or 'showsList' %}c-type-page -shows{% else %}c-type-page{% endif %}{% elseif category is defined %}{% else %}c-type-single {% if event.calendar.id == 1 %}-shows{% elseif event.calendar.id == 2 %}-events{% endif %}

        {% endif %}" data-namespace="page">


<style>
    .c-page_load {
        top: 0;
        width: 100vw;
        height: 100%;
        background: #FFF;
        position: fixed;
        z-index: 323;
        overflow: hidden;

    }
        .c-page_load .c-logo {
            width: 200px;
            position: absolute;
            top: 50%;
            margin-top: -27px;
            margin-left: -100px;
            left: 50%;
            overflow: hidden;
            text-align: center;
            height: 55px;
        }
        .c-page_load .c-logo img {
            margin-bottom: 24px;
        }
    }


.slider{
    margin-top: 20px;
  width:200px;
  height:2px;
  overflow-x: hidden;
}

.line{
  position:absolute;
  opacity: 0.4;
  background:#000;
  width:150%;
  height:2px;
}

.subline{
  position:absolute;
  background:#3e3e3e;
  height:2px; 
}
.inc{
  animation: increase 2s infinite;
}
.dec{
  animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
   from { left: -5%; width: 5%; }
   to { left: 130%; width: 100%;}
}
@keyframes decrease {
   from { left: -80%; width: 80%; }
   to { left: 110%; width: 10%;}
}



</style>



             <header class="c-header">
                 {# NAVIGATION #} {% include '_pages/components/base/secondary-nav' %}
                 {# NAVIGATION #} {% include '_pages/components/base/main-nav' %}
                 {# NAVIGATION #} {% include '_pages/components/base/banner' %}
                 <div id="calendar"></div>
             </header>
                <main class="c-main">
                    {% block content %}
                    {% endblock %}  
                </main>
                {# NAVIGATION #} {% include '_pages/components/base/footer' %}
                {# FOOTER #} {# {% include '_includes/components/footer/footer.html' %} #}

<script defer src="{{ baseUrl }}assets/script/app.js"></script>  
        </div>
    </body>
</html>