{% if pagination_list is defined %}
{% js %}

// AJAX REQUEST DATA
{% set current_url = craft.request.getRequestUri()|split(craft.request.getPath())[0]~craft.request.getPath() %}
{% set ajax_data = {
    current_url: current_url,
    pagination_list: pagination_list|hash,
    pagination_parameters: pagination_parameters ?? null,
} %}


// JS SETTINGS
var loading_class = 'is-loading'
var pagination_list_class = 'js-pages-list'
var pagination_wrapper_class = 'js-pages-wrapper'
var animation_speed = 500

// TWIG TO JS
var endpoint_url = '{{url(pagination_endpoint ?? 'pagination_endpoint')}}'
var url_params = '{{craft.app.request.getQueryStringWithoutPath() is not empty ? '?' ~ craft.app.request.getQueryStringWithoutPath()}}';
var current_url = '{{current_url}}'
var page_trigger = '{{craft.app.config.general.pageTrigger}}'

// AJAX REQUEST
var current_request = null;  
function change_page(page_number, done){

    current_request = $.ajax({
      url: endpoint_url+'/'+page_trigger+page_number+url_params,
      method: 'GET',
      data: {{ajax_data|json_encode|raw}},
      beforeSend: function(){
        $('.c-fucked').addClass('c-load');
        $('.c-news_ul').addClass('c-loadasd');
        if(current_request != null) {
            current_request.abort();
        }
        $('.'+pagination_list_class).addClass(loading_class);

        var page = $("html, body");

        page.on("scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove", function(){
           page.stop();
        });

        page.animate({ scrollTop: 
            $('.'+pagination_wrapper_class).position().top }, animation_speed, function(){
            page.off("scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove");
        });

      }
    }).always(function(){
            $('.c-fucked').removeClass('c-load');
        $('.c-news_ul').removeClass('c-loadasd');
    }).done(function(data) {
  $(function() {
        $('.lazy').lazy({
            combined: true,
            delay: 5000            
        });
    });
        $('.'+pagination_wrapper_class).html(data);

        if(done){
            done();
        }
    });
}

// BACK/FORWARD BUTTON
var initial_page = '{{craft.request.getPageNum()}}'
window.addEventListener('popstate', function(e) {
    if(e.state){
        change_page(e.state);
    }else{
        change_page(initial_page);
    }
});

// PAGINATION CLICK EVENT
$('.'+pagination_wrapper_class).on('click', '[data-number]', function(e){
    e.preventDefault();
    var selected_page = $(this).attr('data-number');
    change_page(selected_page, function(){
        history.pushState(selected_page, null, current_url+'/'+page_trigger+selected_page+url_params);
    });
});

{% endjs %}    

<div class="js-pages-wrapper">
    {% include pagination_list with {
        pagination_parameters: pagination_parameters ?? null,
    } %}
</div>
{% endif %}