{% if pagination_list is defined %}
{% js %}

// AJAX REQUEST DATA
{% set current_url = craft.request.getRequestUri()|split(craft.request.getPath())[0]~craft.request.getPath() %}
{% set ajax_data = {
    current_url: current_url,
    pagination_list: pagination_list|hash,
    pagination_parameters: pagination_parameters ?? null,
} %}


// JS SETTINGS
var loading_class = 'is-loading'
var pagination_list_class = 'js-pages-list'
var pagination_wrapper_class = 'js-pages-wrapper'
var animation_speed = 500

 var favorite = [];
            $.each($("input[name='serie']:checked"), function(){
                favorite.push($(this).val());
            });

 var favoriteTwo = [];
            $.each($("input[name='disciplines']:checked"), function(){
                favoriteTwo.push($(this).val());
            });
var favoriteThree = [];
            $.each($("input[name='salles']:checked"), function(){
                favoriteThree.push($(this).val());
            }); 

 var favoriteFour = [];
            $.each($("input[name='ages']:checked"), function(){
                favoriteFour.push($(this).val());
            });   


var bla = $('input[name="a-partir-du"]').val();
var blaTwo = $('input[name="fin"]').val();                            
var blaThree = $('input[name="recherche"]').val();     

// TWIG TO JS
var endpoint_url = '{{url(pagination_endpoint ?? 'pagination_endpoint')}}'
var url_params = '{{craft.app.request.getQueryStringWithoutPath() is not empty ? '?' ~ craft.app.request.getQueryStringWithoutPath()}}';
var current_url = '{{current_url}}'
var page_trigger = '{{craft.app.config.general.pageTrigger}}'

// AJAX REQUEST
var current_request = null;  
function change_page(page_number, done){	

    current_request = $.ajax({
      url: endpoint_url+'/'+page_trigger+page_number+url_params,
      method: 'GET',
      data: {{ajax_data|json_encode|raw}},
      beforeSend: function(){


 $( "#tabs" ).tabs({

     hide: { effect: "slideUp", duration: 400 },
     show: { effect: "slideDown", duration: 400 },
        active: false,
           collapsible: true,
 });    

        
      	        $('.c-fucked').addClass('c-load');
        $('.c-list_ul').addClass('c-loadasd');
        if(current_request != null) {
            current_request.abort();
        }
        $('.'+pagination_list_class).addClass(loading_class);

        var page = $("html, body");

        page.on("scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove", function(){
           page.stop();
        });

        page.animate({ scrollTop: 
            $('.'+pagination_wrapper_class).position().top }, animation_speed, function(){
            page.off("scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove");
        });

      }
    }).always(function(){
                $('.c-fucked').removeClass('c-load');
        $('.c-list_ul').removeClass('c-loadasd');
        $('.'+pagination_list_class).removeClass(loading_class);
    }).done(function(data) {
  $(function() {
        $('.lazy').lazy({
            combined: true,
            delay: 5000            
        });
    });
                           

    var blaThree = $('input[name="recherche"]').val();
        $('.'+pagination_wrapper_class).html(data);
        if(done){
            done();
                        var url      = window.location.href;
   if( blaThree.length > 0) {

window.history.pushState("object or string", "Title", "/evenements/p" + page_number + '?' + url.split('?')[1]);
} else {
	window.history.pushState("object or string", "Title", "/evenements/p" + page_number);
}
        }
    });
}

// BACK/FORWARD BUTTON
var initial_page = '{{craft.request.getPageNum()}}'
window.addEventListener('popstate', function(e) {
    if(e.state){
        change_page(e.state);
    }else{
        change_page(initial_page);
    }
});

// PAGINATION CLICK EVENT
$('.'+pagination_wrapper_class).on('click', '[data-number]', function(e){
    var blaThree = $('input[name="recherche"]').val();


    e.preventDefault();
    var selected_page = $(this).attr('data-number');
    change_page(selected_page, function(){
   {# history.pushState(selected_page, null, current_url+"/"+page_trigger+selected_page+url_params+"?serie="+series));         #}

if(blaThree.length > 0) {
	
	   } else {
    history.pushState(selected_page, null, current_url+'/'+page_trigger+selected_page+url_params);	   
	}
    });
});

{% endjs %}    

<div class="js-pages-wrapper">
    {% include pagination_list with {
        pagination_parameters: pagination_parameters ?? null,
    } %}
</div>
{% endif %}