<section id="filter" class="c-filtre">






<div class="o-wrapper-main">
	        <div class="o-wrapper-secondary">
<div class="c-display-filter" id="zaz"><p>Voir les filtres</p><div class="c-icon"></div></div>
<div id="tabs" class="c-filter">
  <ul>
  	<li class="c-filter_title"><a class="c-tabs_title">Filtre</a></li>
    {% if series == true %}<li><a href="#tabs-1" class="c-tabs_title">Séries</a></li>{% endif %}
    {% if disciplines == true %}<li><a href="#tabs-2" class="c-tabs_title">Disciplines</a></li>{% endif %}
    {% if theater == true %}<li><a href="#tabs-3" class="c-tabs_title">Salles</a></li>{% endif %}
    {% if ages == true %}<li><a href="#tabs-4" class="c-tabs_title">Âges</a></li>{% endif %}
    {% if dates == true %}<li><a href="#tabs-5" class="c-tabs_title">Dates</a></li>{% endif %}
    {% if search == true %}<li><a href="#tabs-6" class="c-tabs_title">Recherche</a></li>{% endif %}
  </ul>
  {% if series == true %}
  <div id="tabs-1">
  	<div class="c-content">
				<div id="serie">				
					<div class="c-close_device">Séries</div>
					<ul class="o-layout">

						{% for option in info.serie.options %}	
							{% if option.value %}
								<li class="o-layout__item u-1/2@portrait-medium-tablet">
									<input id="c-series-{{loop.index}}" type="checkbox" name="serie" class="styled-checkbox" value="{{ option.value }}"{% for the in craft.app.request.getParam('serie')|split(',') %}{% if option.value == the %}checked{%endif %}{% endfor %}>
    								<label for="c-series-{{loop.index}}">{{ option.label}}</label>
									
								</li>
							{% endif %}
						{% endfor %}
					</ul>			
					<div class="c-submit">
						<div class="c-button -one">
							<div class="c-btn c-btn--primary" id="sub-series">
								<span>Rechercher</span>
							</div>							
						</div>
						<div class="c-close">X</div>
					</div>
				</div>
				</div>			
  </div>
  {% endif %}	
  {% if disciplines == true %}
  <div id="tabs-2">
  	<div class="c-content">
	<div class="c-close_device">Disciplines</div>
				<div id="disciplines"method="post" action="" accept-charset="UTF-8">				
				<ul class="o-layout">
			
				{% set categories = craft.categories %}		
    			{% for category in categories %}
<li class="o-layout__item u-1/2@portrait-medium-tablet">
    			<input id="c-disciplines-{{loop.index}}" type="checkbox" name="disciplines" value="{{ category.id }}"{% for the in craft.app.request.getParam('disciplines')|split(',') %}{% if category.id == the %}checked{% endif %}{% endfor %}>

    								<label for="c-disciplines-{{loop.index}}">{{category.title}}</label>


    		</li>{% endfor %}
    			
			
		</ul>
					<div class="c-submit">
						<div class="c-button -one">
							<div class="c-btn c-btn--primary" id="sub-disciplines">
								<span>Rechercher</span>
							</div>							
						</div>
						<div class="c-close">X</div>
					</div>
			</div>
		</div>
	
  </div>
  {% endif %}	
  {% if theater == true %}
  <div id="tabs-3">
  	<div class="c-content">
  		<div class="c-close_device">Salles</div>
				<div id="salles"method="post" action="" accept-charset="UTF-8">				
					<ul class="o-layout">			
						{% for option in info.theater.options %}	
							{% if option.value %}
								<li class="o-layout__item u-1/1"><input id="c-theater-{{loop.index}}" type="checkbox" name="salles" value="{{ option.value }}"{% for the in craft.app.request.getParam('salles')|split(',') %}{% if option.value == the %}checked{% endif %}{% endfor %}><label for="c-theater-{{loop.index}}">{{ option.label}}</label></li>
							{% endif %}
						{% endfor %}
					</ul>
					<div class="c-submit">
						<div class="c-button -one">
							<div class="c-btn c-btn--primary" id="sub-theater">
								<span>Rechercher</span>
							</div>							
						</div>
						<div class="c-close">X</div>
					</div>
				</div>
			</div>
  </div>
{% endif %}	

{% if ages == true %}
  <div id="tabs-4">
  	<div class="c-content">
<div class="c-close_device">Âges</div>
				<div id="ages">
				<ul class="o-layout">	
					
				{% for option in info.showsAges.options %}	
					{% if option.value %}
						<li class="o-layout__item u-1/2@portrait-medium-tablet"><input id="c-ages-{{loop.index}}" type="checkbox" name="ages" value="{{ option.value }}"{% for the in craft.app.request.getParam('ages')|split(',') %}{% if option.value == the %}checked{% endif %}{% endfor %}><label for="c-ages-{{loop.index}}">{{ option.label}}</label></li>
					{% endif %}
				{% endfor %}
			</ul>
					<div class="c-submit">
						<div class="c-button -one">
							<div class="c-btn c-btn--primary" id="sub-ages">
								<span>Rechercher</span>
							</div>							
						</div>
						<div class="c-close">X</div>
					</div>

			</div>
			</div>	
  </div>
{% endif %}	
{% if dates == true %}
  <div id="tabs-5">
  	<div class="c-content">
  		<div class="c-close_device">Dates</div>
				<div id="dates">
					<div>
					<label for="">À partir du</label>
					<input id="from" type="text" name="a-partir-du" autocomplete="off" value="{{craft.app.request.getParam('a-partir-du')}}" readonly>
					</div>
					<div>
					<label for="">Jusqu'au</label>					
						<input id="to" type="text" name="fin" autocomplete="off" value="{{craft.app.request.getParam('fin')}}" readonly>
					</div>			
					<div class="c-submit">
						<div class="c-button -one">
							<div class="c-btn c-btn--primary" id="sub-dates">
								<span>Rechercher</span>
							</div>						
						</div>
						<div class="c-close">X</div>
					</div>
  				</div>
  			</div>
  		</div>
{% endif %}	
{% if search == true %}
  <div id="tabs-6">
  	<div class="c-content">
  		<div class="c-close_device">Recherche</div>
				<div>
				<label for="">Recherche</label>
	    		<input type="text" name="recherche" value="{{craft.app.request.getParam('recherche')}}">
					<div class="c-submit">
						<div class="c-button -one">
							<div class="c-btn c-btn--primary" id="{% if type == "shows" %}sub-search-0{% else %}sub-search-1{% endif %}">
								<span>Rechercher</span>
							</div>							
						</div>
						<div class="c-close">X</div>
					</div>
				</div>
			</div>
{% endif %}	


</div>
</div>
</section>