	{% if entry is defined %}
		{% if entry.type == 'shows' %}
			{% set eventOptions = {limit: 20, calendar: 'shows',startsAfter: "now" } %}
		{% elseif entry.type == 'events' %}	
			{% set eventOptions = {limit: 20, calendar: 'events',startsAfter: "now" } %}
		{% endif %}
	{% endif %}
	{% if category is defined %}
	{% set eventOptions = {limit: 20, relatedTo: craft.categories.slug(category.slug),startsAfter: "now" } %}
	{% endif %}

	{% paginate craft.calendar.events(eventOptions) as pageInfo, events %}

	<section class="o-section c-list">
	    <div class="o-wrapper-main">
	        <div class="o-wrapper-secondary">
	        	<ul class="o-list-bare c-list_ul">
					{% for event in events %}
						{% set values = [] %}
						{% set bool = false %}
						{% for ticket in event.showsTicket %}
							{% set values = values|merge([ticket.showsHour]) %}
						{% endfor %}

						<li class="o-layout o-layout--huge c-test">
							<div class="o-layout__item u-1/2">
									{% if event.showsHeaderImage|length %}
						    	<img src="{{ event.showsHeaderImage.one.url('list') }}" alt="">
						    	{% endif %}
						    </div>

						    <div class="o-layout__item u-1/2">
						    	<p class="c-list_date">{{event.startDate|date('j F Y')}}</p>
						    	<ul class="c-disciplines">
						    	{% for discipline in event.disciplines %}
						    		<li><p class="c-list_discipline">{{discipline.title}}</p></li>
						    	{% endfor %}
						    	</ul>
						    	<h2>{{event.title}}</h2>
						    	{{event.theater.label}}

								{% if event.occurrences %}
									{% for array in event.occurrences %}
										{% if array.startDate == event.startDate %}
											{{values[loop.index]|date('H')}} h {{values[loop.index]|date('i')}}
											{% set bool = true %}
										{% endif %}
									{% endfor %}
									{% if bool == false %}
										{{values[0]|date('H')}} h {{values[0]|date('i')}}
									{% endif %}
								{% else %}
									{{values[0]|date('H')}} h {{values[0]|date('i')}} 
								{% endif %}
							</div>
						</li>
					{% endfor %}
				</ul>

<p class="c-loading-status"></p>

			</div>
		</div>
	</section>