{% paginate craft.entries().section('news').limit(12) as pageInfo, pageEntries %}


{% if craft.request.isAjax() %}
     {% do pageInfo.setBasePath('/info-pratiques/nouvelles') %}
{% endif %}

	<section id="34" class="o-section c-news">

	    <div class="o-wrapper-main">
	        <div class="o-wrapper-secondary sdf34">
	        	<div class="js-pages-list">
  		<div class="c-dfr">
	        			<div class="sk-folding-cube">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>
</div>
	        		<ul class="o-layout o-layout--custom-zero c-news_ul">
						{% for entry in pageEntries %}		
						<li class="o-layout__item u-1/2@landscape-small-tablet">
							<figure>
								<div class="c-news_rel">
							<img class="lazy" data-src="{{entry.newsImage.one.url('news')}}">
							<div class="c-button">
								<a class="c-btn c-btn--primary" href="{{entry.url()}}"><span>En savoir plus</span></a>
								</div>
								</div>
							<figcaption>
							
							<p class="c-date">{{entry.postDate|date('j F Y')}}</p>	
							<a href="{{entry.url()}}"><h3>{{entry.title}}</h3></a>
							</figcaption>
							</figure>
						</li>		
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

{% include "_inc/pagination" %}


	</section>