{% if pageInfo.total > 1 %}
<ul class="pagination-list">



{% for page, url in pageInfo.getPrevUrls(2) %}
    <li><a class="pagination-link" href="{{ url }}">{{ page }}</a></li>
{% endfor %}



<li><a class="pagination-link is-current">{{ pageInfo.currentPage }}</a></li>

{% for page, url in pageInfo.getNextUrls(2) %}
    <li><a class="pagination-link" href="{{ url }}">{{ page }}</a></li>
{% endfor %}



</ul>
</nav>
{% endif %}