{% set searchQuery = craft.app.request.getParam('recherche') %}
{% if craft.app.request.getParam('recherche') %}
{% paginate craft.calendar.events({rangeStart: 'today',rangeEnd: '+12 months',calendar: "shows"}).search(searchQuery).limit(15) as pageInfo, pageEntries %}
{% elseif craft.app.request.getParam('serie') %}
{% paginate craft.calendar.events({rangeStart: 'today',rangeEnd: '+12 months',calendar: "shows"}).serie(craft.app.request.getParam('serie')).limit(15) as pageInfo, pageEntries %}
{% elseif craft.app.request.getParam('disciplines') %}
{% paginate craft.calendar.events({rangeStart: 'today',rangeEnd: '+12 months',calendar: "shows"}).relatedTo(craft.app.request.getParam('disciplines')).limit(15) as pageInfo, pageEntries %}
{% elseif craft.app.request.getParam('salles') %}
{% paginate craft.calendar.events({rangeStart: 'today',rangeEnd: '+12 months',calendar: "shows"}).theater(craft.app.request.getParam('salles')).limit(15) as pageInfo, pageEntries %}
{% elseif craft.app.request.getParam('ages') %}
{% paginate craft.calendar.events({rangeStart: 'today',rangeEnd: '+12 months',calendar: "shows"}).relatedTo(craft.app.request.getParam('ages')).limit(15) as pageInfo, pageEntries %}
{% elseif craft.app.request.getParam('fin') and craft.app.request.getParam('a-partir-du')   %}
{% paginate craft.calendar.events({rangeStart: craft.app.request.getParam('a-partir-du'),rangeEnd: craft.app.request.getParam('fin')}).limit(15) as pageInfo, pageEntries %}
{% elseif craft.app.request.getParam('a-partir-du') and craft.app.request.getParam('fin') == "" %}
{% paginate craft.calendar.events({rangeStart: craft.app.request.getParam('a-partir-du'),rangeEnd: '+12 months',calendar: "shows"}).limit(15) as pageInfo, pageEntries %}
{% elseif craft.app.request.getParam('fin') and craft.app.request.getParam('a-partir-du') == "" %}
{% paginate craft.calendar.events({rangeStart: 'today',rangeEnd: craft.app.request.getParam('fin')}).limit(15) as pageInfo, pageEntries %}
{% else %}
{% paginate craft.calendar.events({rangeStart: 'today',rangeEnd: '+12 months',calendar: "shows"}).limit(15) as pageInfo, pageEntries %}
{% endif %}

	<section id="34" class="o-section c-list">



<div class="o-wrapper-main">

	        <div class="o-wrapper-secondary">


	<p class="c-filter_description">
{% if craft.app.request.getParam('recherche') %}
Recherche > {{craft.app.request.getParam('recherche')}}
{% elseif craft.app.request.getParam('serie') %}
Séries > {% for the in craft.app.request.getParam('serie')|split(',') %}{% switch the %}{% case 1 %}Hors séries{% case 2 %}Soirées théâtrales{% case 3 %}Nouvelle scène{% case 4 %}Ciné-Club d'Albert{% case 5 %}Événements danse{% case 6 %}Soirées de la Chanson{% case 7 %}Grands Concerts{% case 8 %}Grands Explorateurs{% case 9 %}Matinées scolaires{% case 10 %}P'tits dimanches{% case 11 %}Shows secrets{% case 12 %}Soirées Humour et Variétés{% endswitch %}{% if loop.last == false %} > {% endif %}


{% endfor %}
{% elseif craft.app.request.getParam('disciplines') %}
Disciplines > 
{% for the in craft.app.request.getParam('disciplines')|split(',') %}
{% set category = craft.categories.id(the).first().title %}
{{category}}
{% if loop.last == false %} > {% endif %}
{% endfor %}

{% elseif craft.app.request.getParam('salles') %}
Salles > {% for the in craft.app.request.getParam('salles')|split(',') %}{% switch the %}{% case 1 %}Salle Albert-Dumouchel{% case 2 %}Café chez Rose{% case 3 %}Cabaret d'Albert{% endswitch %}{% if loop.last == false %} > {% endif %}{% endfor %}
{% elseif craft.app.request.getParam('ages') %}
	Âges > 	{% for the in craft.app.request.getParam('ages')|split(',') %}
	{% if loop.length > 1 %}
				{% if loop.first == true %}
					{% switch the %}
					{% case 1 %}{% set ageFirst = '0-5 ans' %}
					{% case 2 %}{% set ageFirst = '6-12 ans' %}{% case 3 %}{% set ageFirst = '13-17 ans' %}{% case 4 %}{% set ageFirst = '18-24 ans'%}{% case 5 %}{% set ageFirst = '25-45 ans'%}{% case 6 %}{% set ageFirst = '46-65 ans'%}{% case 7 %}{% set ageFirst = '66 ans et plus'%}{% endswitch %}
					{% set foo = ageFirst|split('-') %}
					{{foo[0]}}
				{% endif %}
				
				{% if loop.last == true %}
					{% switch the %}
					{% case 1 %}{% set ageFirst = '0-5 ans' %}
					{% case 2 %}{% set ageFirst = '6-12 ans' %}{% case 3 %}{% set ageFirst = '13-17 ans' %}{% case 4 %}{% set ageFirst = '18-24 ans'%}{% case 5 %}{% set ageFirst = '25-45 ans'%}{% case 6 %}{% set ageFirst = '46-65 ans'%}{% case 7 %}{% set ageFirst = '66 ans et plus'%}{% endswitch %}
					{% if the != 7 %}
					{% set foo = ageFirst|split('-') %}
					à {{foo[1]}}
					{% else %}
					à {{ageFirst}}
					{% endif %}
				{% endif %}				
				 {% else %}
{% switch the %}
					{% case 1 %}0-5 ans
					{% case 2 %}6-12 ans{% case 3 %}13-17 ans{% case 4 %}18-24 ans{% case 5 %}25-45 ans{% case 6 %}46-65 ans{% case 7 %}66 ans et plus{% endswitch %}				 
		{% endif %}	
	{% endfor %}

{% elseif craft.app.request.getParam('fin') and craft.app.request.getParam('a-partir-du')   %}
À partir du {{craft.app.request.getParam('a-partir-du')|date('j F Y')}} jusqu'au {{craft.app.request.getParam('fin')|date('j F Y')}}
{% elseif craft.app.request.getParam('a-partir-du') and craft.app.request.getParam('fin') == "" %}
À partir du {{craft.app.request.getParam('a-partir-du')|date('j F Y')}}
{% elseif craft.app.request.getParam('fin') and craft.app.request.getParam('a-partir-du') == "" %}
Jusqu'au {{craft.app.request.getParam('fin')|date('j F Y')}}
{% endif %}

</p>


<div>
	
</div>




	        	<div class="js-pages-list">
  		<div class="c-dfr">
	        			<div class="sk-folding-cube">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>
	        		</div>	        		
{% if pageEntries %}	        		
	        	<ul class="o-list-bare c-list_ul">

{% for entry in pageEntries %}
						{% set values = [] %}
						{% set bool = false %}
						{% for ticket in entry.showsTicket %}
							{% set values = values|merge([ticket.showsHour]) %}
						{% endfor %}

						<li class="o-layout o-layout--huge -one">
							<div class="o-layout__item u-1/2@portrait-small-tablet">
								<div class="o-ratio o-ratio--events-zero c-news_rel -one">
									<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
									{% if entry.showsHeaderImage|length %}
						    	<a href="{{entry.url()}}"><img class="lazy" data-src="{{ entry.showsHeaderImage.one.url('list') }}" alt=""></a>
						    	{% else %}
						    	<a href="{{entry.url()}}"><img class="lazy" data-src="{{siteUrl}}assets/images/placeholder/place-holder-spectacle.png" alt=""></a>
						    	{% endif %}
<div class="c-button">
								<a class="c-btn c-btn--primary" href="{{entry.url()}}"><span>En savoir plus</span></a>
								</div>
								</div>						    	
						    </div>

						    <div class="o-layout__item u-1/2@portrait-small-tablet">
						    	<p class="c-list_date">{{entry.startDate|date('j F Y')}}</p>
						    	<ul class="c-disciplines">
						    	{% for discipline in entry.disciplines %}
						    		<li><p class="c-list_discipline">{{discipline.title}}</p></li>
						    	{% endfor %}
						    	</ul>
						    	<h2>{{entry.title}}</h2>
						    	<p class="c-location">{{entry.theater.label}}</p>
<p class="c-hour">
								{% if entry.occurrences %}
									{% for array in entry.occurrences %}
										{% if array.startDate == entry.startDate %}
											{{values[loop.index]|date('H')}} h {{values[loop.index]|date('i')}}
											{% set bool = true %}
										{% endif %}
									{% endfor %}
									{% if bool == false %}
										{{values[0]|date('H')}} h {{values[0]|date('i')}}
									{% endif %}
								{% else %}
									{{values[0]|date('H')}} h {{values[0]|date('i')}}
									
								{% endif %}
								</p> 
							</div>
						</li>
{% endfor %}

</ul>
{% else %}
<p class="c-error">Aucun résultat ne correspond à votre recherche. Veuillez modifier votre sélection.</p>
{% endif %}
			</div>
		</div>
{% include "_inc/pagination" %}



</div>

	</section>