{% set searchQuery = craft.app.request.getParam('recherche') %}
{% if craft.app.request.getParam('recherche') %}
{% paginate craft.calendar.events({rangeStart: 'today',rangeEnd: '+12 months',calendar: "events"}).search(searchQuery).limit(15) as pageInfo, pageEntries %}
{% else %}
{% paginate craft.calendar.events({rangeStart: 'today',rangeEnd: '+12 months',calendar: "events"}).limit(15) as pageInfo, pageEntries %}
{% endif %}

{% if craft.request.isAjax() %}
{% if craft.app.request.getParam('recherche') %}
    {% do pageInfo.setBasePath('/evenements') %}
    {% else %}
    {% do pageInfo.setBasePath(craft.request.getParam('current_url')) %}
    {% endif %}
{% endif %}

<script>
	var series = '{{ craft.app.request.getParam('serie') }}'
</script>
		
	<section id="34" class="o-section c-list

{% if craft.app.request.getParam('recherche') %}-recherche
{% elseif craft.app.request.getParam('serie') %}-serie
{% elseif craft.app.request.getParam('disciplines') %}-discipline
{% endif %}



	">





<div class="o-wrapper-main">

	        <div class="o-wrapper-secondary">
<p class="c-filter_description">
{% if craft.app.request.getParam('recherche') %}
Recherche > {{craft.app.request.getParam('recherche')}}
{% endif %}</p>

	        	<div class="js-pages-list">
  		<div class="c-dfr">
	        			<div class="sk-folding-cube">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>
	        		</div>	        
	        		{% if pageEntries %}			
	        	<ul class="o-list-bare c-list_ul">

{% for entry in pageEntries %}
						{% set values = [] %}
						{% set bool = false %}
						{% for ticket in entry.showsTicket %}
							{% set values = values|merge([ticket.showsHour]) %}
						{% endfor %}

						<li class="o-layout o-layout--huge c-test">
							<div class="o-layout__item u-1/2">
									{% if entry.showsHeaderImage|length %}
						    	<a href="{{entry.url()}}"><img class="lazy" data-src="{{ entry.showsHeaderImage.one.url('list') }}" alt=""></a>
						    	{% endif %}
						    </div>

						    <div class="o-layout__item u-1/2">
						    	<p class="c-list_date">{{entry.startDate|date('j F Y')}}</p>
						    	<ul class="c-disciplines">
						    	{% for discipline in entry.disciplines %}
						    		<li><p class="c-list_discipline">{{discipline.title}}</p></li>
						    	{% endfor %}
						    	</ul>
						    	<h2>{{entry.title}}</h2>
						    	{{entry.theater.label}}

								{% if entry.occurrences %}
									{% for array in entry.occurrences %}
										{% if array.startDate == entry.startDate %}
											{{values[loop.index]|date('H')}} h {{values[loop.index]|date('i')}}
											{% set bool = true %}
										{% endif %}
									{% endfor %}
									{% if bool == false %}
										{{values[0]|date('H')}} h {{values[0]|date('i')}}
									{% endif %}
								{% else %}
									{{values[0]|date('H')}} h {{values[0]|date('i')}} 
								{% endif %}
							</div>
						</li>
{% endfor %}
</ul>
{% else %}
{% if craft.app.request.getParam('recherche') %}
<p class="c-error">Aucun résultat ne correspond à votre recherche. Veuillez modifier votre sélection.</p>
{% else  %}
<p class="c-error"> Il n’y a pas d’événements pour le moment, mais restez à l’affût en vous abonnant à notre page Facebook.</p>
{% endif %}{% endif %}
			</div>
		</div>
{% include "_inc/pagination" %}

</div>

	</section>