<div class="c-banner">
	<div class="o-wrapper-main">
		<div class="o-wrapper-secondary">
			<div class="c-banner_content">
				<div class="h1">
				
		{% if entry is defined %}
			{% if entry.type == "home" %}
				<p class="c-page-title">{{entry.headerTitle}}</p>
			{% elseif entry.type == "shows" %}
<p class="c-page-title">Spectacles</p>	
{% elseif entry.type == "news" %}			
<h1 class="c-page-title">Nouvelles</h1>	
{% elseif entry.section.handle == "inShort" %}



				<p class="c-page-title">À propos</p>	
			{% elseif entry.section.handle == 'practicalInfo' %}
			<p class="c-page-title">Info pratiques</p>				
		{% elseif entry.type == "events" %}
			<p class="c-page-title">Événements</p>				
			{% else %}
				<p class="c-page-title">{{entry.title}}}</p>
			{% endif %}	
					{% elseif category is defined %}
		{% else %}
			{% if event.calendar.id == 1 %}			
				<p class="c-page-title">Spectacles</p>	
			{% elseif event.calendar.id == 2 %}			
				<p class="c-page-title">Événements</p>	
			{% endif %}								
		{% endif %}
					
			</div>	
			{% if entry is defined %}{% if entry.type == "home" %}							
					<form action="{{ url('spectacles') }}">
    					<input type="search" name="recherche" class="-empty">
    					<input type="submit" value="Go">
					</form>
					{% endif %}
					{% endif %}
				</div>	
				{% if entry is defined %}{% if entry.type == "eventsList" and entry.type != "home" %}
					
				{% endif %}
						{% elseif category is defined %}
				{% else %}
				<div class="c-events_details">







					<ul class="o-layout c-events_details_ul">
					<li class="o-layout__item"><h1 class="c-single-title">{{event.title}}</h1></li>
					<li class="o-layout__item"><h2 class="c-single-title">{{event.eventName}}</h2></li>
					{% if event.disciplines|length %}<li class="o-layout__item u-1/2@portrait-medium-tablet -discplines -{{event.disciplines.one.id}}"><span>


<img class="c-img"	src="{{event.disciplines.one.categoryIcon.one.url('cat')}}" alt="">

					{{event.disciplines.one.title}}</span></li>{% endif %}
					<li class="o-layout__item u-1/2@portrait-medium-tablet -price"><span>À partir de {{event.aPartir}}$</span></li>



{% set currentID = event.id %}
					{% set eventOptions = {id:event.id} %}
					{% paginate craft.calendar.events(eventOptions) as pageInfo, events %}
					{% set dateZero = "" %}
					{% set dateOne = "" %}
					{% set total = "" %}
					{% for event in events %}
						{% if loop.first %}
    						{% set dateZero = event.startDate %}
    					{% endif %}
						{% if loop.last %}
    						{% set dateOne 	= event.startDate %}
    					{% endif %}    					
    					{% set total = loop.index%}
					{% endfor %}					
					{{event|length}}
					{% if total > 1 %}
{% if dateZero|date('F') == dateOne|date('F') %}
	<li class="o-layout__item u-1/2@portrait-medium-tablet -date"><span>{{dateZero|date('j ')}}au{{dateOne|date(' j F')}}</span></li> 
{% else %}	
<li class="o-layout__item u-1/2@portrait-medium-tablet -date"><span>{{dateZero|date('j F ')}}au{{dateOne|date(' j F')}}</span></li> 
{% endif %}
{% else %}	
<li class="o-layout__item u-1/2@portrait-medium-tablet -date"><span>{{dateZero|date('j F ')}}</span></li>
{% endif %}					
					<li class="o-layout__item u-1/2@portrait-medium-tablet -theater"><span>{{event.theater.label}}</span></li>					

</ul >


					{% set values = [] %}
					{% set tickets = [] %}

					{% for ticket in event.showsTicket %}
						{% set values = values|merge([ticket.showsHour]) %}
						{% set tickets = tickets|merge([ticket.showsTicketLink]) %}
					{% endfor %}

					{% set eventOptions = {id:event.id} %}
					{% paginate craft.calendar.events(eventOptions) as pageInfo, events %}
					<div class="c-options">
					<div class="c-dates">
						{% if event.showsDateSale|length %}
						{% if event.showsDateSale|date('U') <= now|date('U')%}
						<a class="c-btn c-btn--tertiary">Choisir une date</a>
							<ul class="c-dates_ul">
							
								<li>Choisir une date</li>
						{% for event in events %}
    						<li data-tickets="{{tickets[loop.index0]}}">{{ event.startDate|date('j F Y') }} à {{values[loop.index0]|date('H')}} h {{values[loop.index0]|date('i')}}</li>
						{% endfor %}
						</ul>
{% else %}					
<a class="c-btn c-btn--tertiary"></a>	
						{% endif %}	
{% else %}						
<a class="c-btn c-btn--tertiary">Choisir une date</a>
							<ul class="c-dates_ul">
								<li>Choisir une date</li>
						{% for event in events %}
    						<li data-tickets="{{tickets[loop.index0]}}">{{ event.startDate|date('j F Y') }} à {{values[loop.index0]|date('H')}} h {{values[loop.index0]|date('i')}}</li>
						{% endfor %}
					</ul>
					{% endif %}	
					</div>
					<a class="c-btn c-btn--secondary -disabled" target="_blank">Achat de billets</a>
					</div>
					<div class="c-date-sale">Date de la mise en vente : {{ event.showsDateSale|date('j F Y') }} à {{event.showsDateSale|date('H')}} h {{event.showsDateSale|date('i')}}</div>
					{% if event.showsArtistFb or event.showArtistInstagram %}
					<ul class="o-list-bare c-social-media">
						{% if event.showsArtistFb %}<li class="-fb"><a href="{{event.showsArtistFb}}" target="_blank" rel="nofollow">Facebook</a></li>{% endif %}
						{% if event.showArtistInstagram %}<li class="-instagram"><a href="{{event.showArtistInstagram}}" target="_blank" rel="nofollow">Instagram</a></li>{% endif %}
						{% if event.showsArtistWeb %}<li class="-website"><a href="{{event.showsArtistWeb}}" target="_blank" rel="nofollow">Web</a></li>{% endif %}						

					</ul>
					{% endif %}
				</div>		
				{% endif %}




		</div>
	</div>
	<div class="c-cover" style="background: 
		{% if entry is defined %}
			{% if entry.type == 'home' %}
				url({{entry.headerImage.one.url()}})
				{% elseif entry.section.handle == 'inShort' %}
				
				url({{info.inShortHeader.one.url()}})
				{% elseif entry.section.handle == 'news' %}
				url({{info.inShortHeader.one.url()}})
				{% elseif entry.section.handle == 'practicalInfo' %}
				
				url({{info.inShortHeader.one.url()}})				
			{% else %}
				url({{entry.headerImage.one.url()}})
			{% endif %}
			{% elseif category is defined %}
		{% else %}
			url({{event.showsHeaderImage.one.url('enTeteEvent')}})
		{% endif %}">

		{% if entry is defined %}{% if entry.type == "home" %}
			<p class="c-page-title -cover">{{entry.headerTitle}}</p>
{% elseif entry.type == "news" %}			
<p class="c-page-title -cover">Nouvelles</p>	
		{% elseif entry.type == "shows" %}

			<h1><p class="c-page-title -cover">Spectacles</p></h1>	
			{% elseif entry.section.handle == "inShort" %}
			<p class="c-page-title -cover">À propos</p>
			{% elseif entry.section.handle == 'practicalInfo' %}
			<p class="c-page-title -cover">Info pratiques</p>
		{% elseif entry.type == "events" %}
			<p class="c-page-title -cover">Événements</p>		
			{% else %}
				<p class="c-page-title -cover">{{entry.title}}</p>							
		{% endif %}	
		{% elseif category is defined %}		
		{% else %}

		{% if event.calendar.id == 1 %}			
			<p class="c-page-title -cover -{{ event.titleEffect.value }}">Spectacles</p>	
		{% elseif event.calendar.id == 2 %}			
			<p class="c-page-title -cover -{{ event.titleEffect.value }}">Événements</p>	
		{% endif %}

{% endif %}
		
	</div>
</div>		
<div class="flexboxcontainer">
  <h1> </h1><h1 id="typewriter"></h1>
</div>

{% set category = craft.categories.id(4).first() %}

