<footer class="c-footer">
	<div class="o-wrapper-main">
		<div class="o-wrapper-secondary">
			<div class="c-footer_grid">
				<div class="c-footer_grid_item">
							<p class="c-footer_title">Visitez-nous</p>
							<p class="c-footer_p">{{info.infoAddress|nl2br}}</p>
							<a href="{{info.googleMaps}}" target="_blank">Google maps</a>
						</div>
						<div class="c-footer_grid_item">
							<p class="c-footer_title">Contactez-nous</p>
							<ul class="o-list-bare c-footer_coordonates">
								<li>Téléphone : {{info.globalPhone}}</li>
								<li>Sans frais : {{info.globalPhoneTollFree}}</li>
								<li>Télécopieur : {{info.infoFax}}</li>
								<li>Courriel : <a href="mailto:{{info.infoEmail}}">{{info.infoEmail}}</a></li>
							</ul>
						</div>
						<div class="c-footer_grid_item"><p class="c-footer_title">Billeterie</p>
							{{info.infoTicketsContent}}
						</div>
				
				<div class="c-footer_grid_item">
					<p class="c-footer_title">S'inscrire à l'infolettre</p>
					<div id="mc_embed_signup">
						<form action="https://st-stanislas-de-kostka.us3.list-manage.com/subscribe/post?u=e4f953a16916eff9306cfc057&amp;id=575e70e8ce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate c-newsletter_form" target="_blank" novalidate>
 							<input name="EMAIL" id="mce-EMAIL" type="email" class="required email" placeholder="Addresse courriel" data-parsley-type="email" data-parsley-length="[1, 210]" data-parsley-group="email-form" data-parsley-error-message="" data-parsley-validate-if-empty>
							<input type="submit" value="Envoyer" name="subscribe" id="mc-embedded-subscribe" class="">
    						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="hidden" name="b_e4f953a16916eff9306cfc057_34cddb20cd" tabindex="-1" value=""></div>
						</form>
					</div>
            	</div>
				<div class="c-footer_grid_item"><img src="{{ baseUrl }}/assets/images/logos/valspec_logo_footer.svg" alt=""></div>
				<div class="c-footer_grid_item -social-media">
					<ul>
						<li class="-fb"><a href="{{info.globalFacebook}}" target="_blank">Facebook</a></li>
						<li class="-instagram"><a href="{{info.globalinstagram}}" target="_blank">Instagram</a></li>
						<li class="-twitter"><a href="{{info.globalTwitter}}" target="_blank">Twitter</a></li>
						<li class="-youtube"><a href="{{info.globalesYoutube}}" target="_blank">Youtube</a></li>						
					</ul>
				</div>
				</div>
			</div>
		</div>
	</div>
</footer>
