{% set Lcount = 0 %}


{% import "_macros.html" as macros %}


{% set pages = craft.entries.section('menuMain').level('<= 2').all() %}
{% set boolZero = false %}
{% nav page in pages %}
{% if entry is defined %}
{% if entry.slug == page.slug %}
{% set Lcount = 2 %}{% endif %}
{% elseif event is defined%}
		{% if event.calendar.id == 1 %}			
			{% set boolZero = true %}	
		{% elseif event.calendar.id == 2 %}			
			<p class="c-page-title -cover -{{ event.titleEffect.value }}">Événements</p>	
		{% endif %}
{% endif %}
{% endnav %}

<div class="c-main-nav">
	<div class="c-main-nav_menu">
		<div class="o-wrapper-main">
			<div class="c-flex-navigation">
				<div class="c-logo">
					<a href="{{siteUrl}}"><img src="{{ baseUrl }}/assets/images/logos/valspec_logo.svg" alt=""></a>
				</div>
				<nav class="c-menu_nav">
					<button class="hamburger hamburger--squeeze" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
					<ul class="c-menu_ul" id="main-menu">
						 {% set count = 0 %}
				        {% nav page in pages %}
				        {% if loop.index == 10 %}
				        <li class="{% if Lcount == 0 and boolZero == false %}current_page_item_two {% endif %}-default c-main-nav_li"><a class="c-link" href=""></a></li>
				        {% endif %}
            				<li class="{% if page.menuLink.getUrl()|length <= 0 %}c-parent {% endif %}{{ macros.is_active(page.slug) }}{% if boolZero == true and page.slug == 'spectacles' %} current_page_item_two {% endif %}c-main-nav_li{%if loop.last %} -last{% endif %}">
            					
            					{% if page.menuLink.getUrl()|length > 0 %}
            							
            						<a href="{{page.menuLink.getUrl()}}" class="c-link">{{ page.title }}</a>
            						{% set count = count + 1 %}
            					{% else %}	
            						<p class="c-parent_title c-link">{{ page.title }}</p>
            					{% endif %}
				                {% ifchildren %}
                				    <ul class="c-subdomain">
                        				{% children %}
                    				</ul>
                				{% endifchildren %}
				            </li>
        				{% endnav %}
					</ul>
				</nav>



			</div>
		</div>
		<a class="c-calendar_link" href="{{info.showsLink.one.url()}}">
		<div class="c-calendar">
			
			<div class="c-calendar_icon"></div>
			<div class="c-calendar_text"></div>
			
		</div>
		</a>
	</div>
</div>


	<nav class="c-menu-device">
		<ul class="c-menu-device_ul">
			{% set count = 0 %}
			{% nav page in pages %}
				<li class="{% if page.menuLink.getUrl()|length <= 0 %}c-parent {% endif %}{{ macros.is_active(page.slug) }}{% if boolZero == true and page.slug == 'spectacles' %} current_page_item_two{% endif %}c-main-nav_li">
            					{% if page.menuLink.getUrl()|length > 0 %}
            							
            						<a href="{{page.menuLink.getUrl()}}" class="c-link">{{ page.title }}</a>
            						{% set count = count + 1 %}
            					{% else %}	
            						<p class="c-parent_title c-link">{{ page.title }}</p>
            					{% endif %}
				                {% ifchildren %}
                				    <ul class="c-subdomain">
                        				{% children %}
                    				</ul>
                				{% endifchildren %}
				            </li>
        				{% endnav %}
					</ul>
	
	
</nav>

