{% extends "_pages/layout/site.html" %}
{% block content %}

	<section class="o-section c-next-event">
		<div class="o-wrapper-main">
			<div class="o-wrapper-secondary">
				<div class="c-next-event_grid">



{% if craft.calendar.events({calendar: 'events'})|length > 0 %}

{% for entry in craft.calendar.events({calendar: 'shows',limit:4,startsAfter: "now",loadOccurrences: false}) %}

		{% if loop.index == 1 or loop.index == 4 %}
							<div class="c-next-event_grid_item o-ratio--next-events-zero" style="background: url('{{entry.showsHeaderImage.one.url('format1')}}')">
								<a class="o-ratio o-ratio--next-events-zero"	href="{{entry.url()}}">
									<div>
										<div class="c-next-event_content">
											{% for category in entry.disciplines%}
												<p class="c-event-cat">{{category.title}}</p>
											{% endfor %}											
											<p class="c-event-title">{{entry.title}}</p>
										</div>
									</div>
								</a>
							</div>	
		{% endif %}
		{% if loop.index == 2 or loop.index == 3 %}
			<div class="c-next-event_grid_item o-ratio o-ratio--next-events-one" style="background: url({{entry.showsHeaderImage.one.url('format2')}})">
				<a class="o-ratio o-ratio--next-events-one"	href="{{entry.url()}}">
<div>
										<div class="c-next-event_content">
											{% for category in entry.disciplines%}
												<p class="c-event-cat">{{category.title}}</p>
											{% endfor %}											
											<p class="c-event-title">{{entry.title}}</p>
										</div>
									</div>
				</a>
			</div>	
		{% endif %}



	{% endfor %}

{% else %}
	{% for entry in craft.calendar.events({calendar: 'shows',limit:4,startsAfter: "now",loadOccurrences: false}) %}

		{% if loop.index == 1 or loop.index == 4 %}
							<div class="c-next-event_grid_item o-ratio--next-events-zero" style="background: url('{{entry.showsHeaderImage.one.url('format1')}}')">
								<div class="o-ratio o-ratio--next-events-zero c-wrap">
								<a 	href="{{entry.url()}}">
<div>
										<div class="c-next-event_content">
											{% for category in entry.disciplines%}
												<p class="c-event-cat">{{category.title}}</p>
											{% endfor %}											
											<p class="c-event-title">{{entry.title}}</p>
										</div>
									</div>
								</a>
							</div>
							</div>	
		{% endif %}
		{% if loop.index == 2 or loop.index == 3 %}
			<div class="c-next-event_grid_item" style="background: url({{entry.showsHeaderImage.one.url('format2')}})">
				<div class="o-ratio o-ratio--next-events-one c-wrap">
				<a class=""	href="{{entry.url()}}">
<div>
										<div class="c-next-event_content">
											{% for category in entry.disciplines%}
												<p class="c-event-cat">{{category.title}}</p>
											{% endfor %}
											<p class="c-event-title">{{entry.title}}</p>
										</div>
									</div>
				</a>
				</div>
			</div>	
		{% endif %}



	{% endfor %}





{% endif %}




												
				</div>
				<div class="c-btn_wrapper">
					<div class="c-button">
						<a class="c-btn c-btn--primary" href="{{info.showsLink.one.url()}}"><span>En voir plus</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="o-section c-packages-and-subscriptions">
		<div class="o-wrapper-main">
			<div class="o-wrapper-secondary">
				<h2>{{entry.packagesSubscriptionsTitle}}</h2>
				<div class="o-wrap">
					{{entry.packagesSubscriptionsContent}}		
				</div>
				<div class="c-btn_wrapper">
					<div class="c-button -one">
						<a class="c-btn c-btn--primary" href="{{entry.packagesSubscriptionsLink.one.url()}}"><span>En voir plus</span></a>
					</div>	
				</div>	
			</div>
		</div>
	</section>

	<section class="o-section c-information">
		<div class="c-information_slider">
			<ul class="o-list-bare">
				{% for image in entry.homeSlider %}
				<li>
					<img src="{{image.url()}}" alt="">
				</li>
				{% endfor %}

			</ul>			
		</div>
		<div class="o-wrapper-main">
			<div class="o-wrapper-secondary -rel">

				<div class="c-information_content">
				<div class="c-option">
		<div class="c-arrows">
		
		</div>				
		<div class="c-status"></div>
		</div>
					
					<h2>{{entry.presentationTitle}}</h2>
					{{entry.PresentationContent}}

					<div class="c-button -two">
						<a class="c-btn c-btn--primary" href="{{entry.presentationLink.getUrl()}}"><span>{{entry.presentationLink.text}}</span></a>
					</div>
				</div>						
			</div>
		</div>

	</section>

	<section class="o-section c-newsletter">
		<div class="o-wrapper-main">
			<div class="o-wrapper-secondary">
				<h2>{{entry.newsletterTitle}}</h2>
				<div class="o-wrap">
				{{entry.newsletterContent}}



			</div>

					<div id="mc_embed_signup">
						<form action="https://st-stanislas-de-kostka.us3.list-manage.com/subscribe/post?u=e4f953a16916eff9306cfc057&amp;id=575e70e8ce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate c-newsletter_form" target="_blank" novalidate>
 							<input name="EMAIL" id="mce-EMAIL" type="email" class="required email" placeholder="Addresse courriel">
							<input type="submit" value="Envoyer" name="subscribe" id="mc-embedded-subscribe">
    						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="hidden" name="b_e4f953a16916eff9306cfc057_34cddb20cd" tabindex="-1" value=""></div>
						</form>
					</div>









			</div>
		</div>
	</section>

<section class="o-section c-partners">
		<div class="o-wrapper-main">
			<div class="o-wrapper-secondary">	
	<h2>{{entry.partnersTitle}}</h2>
	<div class="o-layout o-layout--huge o-layout--middle c-partners_list">
		{% for partner in entry.partnersList %}
		<li class="o-layout__item u-1/5@landscape-small-tablet u-1/4@portrait-medium-tablet u-1/3@portrait-small-tablet  u-1/2@portrait-medium-handset u-1/1@portrait-small-handset">{% if partner.ressourcesLink %}<a href="{{partner.ressourcesLink}}" target="_blank">{% endif %}<img src="{{partner.url('partners')}}">{% if partner.ressourcesLink %}</a>{% endif %}</li>
		{% endfor %}
	</div>
<div class="c-btn_wrapper">
					<div class="c-button">
						<a class="c-btn c-btn--primary" href="{{entry.partnersLink.getUrl()}}"><span>{{entry.partnersLink.text}}</span></a>
					</div>
				</div>	



</div></div>
</section>


{% endblock %} 




