{% extends "_pages/layout/site.html" %}
{% block content %}
	{% include "_pages/components/component-one" with {title: 1}%}
	<section class="c-subscription">
        <div class="o-wrapper-main">
            <div class="o-wrapper-secondary">
				<div class="o-layout o-layout--medium">
	<ul class="o-list-bare o-layout__item c-desktop u-1/2@landscape-small-tablet">
	{% for block in entry.packages.all() %}
	    {% if block.type == "packagesTab" %}
			{% if loop.index is not divisible by(2) %}
	        	<li class="c-packages__item">
	        		<figure>
	        			
						{% if block.packagesImage|length %}
							<img src="{{block.packagesImage.one.url()}}" alt="">
						{% else %}
							<img src="{{siteUrl}}assets/images/placeholder/place-holder-abonnement.png" alt="">
						{% endif %}
	        			<figcaption>
                    <div class="c-list_item_status -package closed">
                        <div class="horizontal"></div>
                        <div class="vertical"></div>
                    </div>	  	        				
	        				<div class="-visible">
	        				<div class="c-info">
	        					<h3>{{ block.packagesTitle }}</h3>
	        					<p class="c-subtitle">{{block.packagesSubtitle}}</p>
	        				</div>
	        				{% if block.packagesPrice %}
	        				<div class="c-price">
	        					<div>{{block.packagesPrice}} $</div>
	        				</div>
	        				{% endif %}
	        			</div>
							<div class="-hidden-content">
								<div class="c-pt">
									{{block.packagesContent}}
							<div class="c-button -three">
								<a class="c-btn c-btn--primary" href="{{block.packagesLink}}" target="_blank"><span>Acheter maintenant</span></a>
							</div>									
								</div>
							</div>	        				
	        			</figcaption>
      			
	        		</figure>
	        	</li>
	 		{% endif %}
	    {% endif %}
	{% endfor %}
	</ul>
		<ul class="o-list-bare c-desktop o-layout__item u-1/2@landscape-small-tablet">
	{% for block in entry.packages.all() %}
	    {% if block.type == "packagesTab" %}
			{% if loop.index is divisible by(2) %}
	        	<li class="c-packages__item">
	        		<figure>
						{% if block.packagesImage|length %}
							<img src="{{block.packagesImage.one.url()}}" alt="">
						{% else %}
							<img src="{{siteUrl}}assets/images/placeholder/place-holder-abonnement.png" alt="">
						{% endif %}
	        			<figcaption>
                    <div class="c-list_item_status -package closed">
                        <div class="horizontal"></div>
                        <div class="vertical"></div>
                    </div>	        				
	        				<div class="-visible">
	        				<div class="c-info">
	        					<h3>{{ block.packagesTitle }}</h3>
	        					<p class="c-subtitle">{{block.packagesSubtitle}}</p>
	        				</div>
	        				{% if block.packagesPrice %}
	        				<div class="c-price">
	        					<div>{{block.packagesPrice}} $</div>
	        				</div>
	        				{% endif %}
	        			</div>
							<div class="-hidden-content">
								<div class="c-pt">
									{{block.packagesContent}}
		<div class="c-button -three">
								<a class="c-btn c-btn--primary" href="{{block.packagesLink}}" target="_blank"><span>Acheter maintenant</span></a>
							</div>									
								</div>
							</div>	        				
	        			</figcaption>
      			
	        		</figure>
	        	</li>
	 		{% endif %}
	    {% endif %}
	{% endfor %}
	</ul>
	<ul class="o-list-bare o-layout__item c-device u-1/2@landscape-small-tablet">
	{% for block in entry.packages.all() %}
	    {% if block.type == "packagesTab" %}
	        	<li class="c-packages__item">
	        		<figure>
	        			
						{% if block.packagesImage|length %}
							<img src="{{block.packagesImage.one.url()}}" alt="">
						{% else %}
							<img src="{{siteUrl}}assets/images/placeholder/place-holder-abonnement.png" alt="">
						{% endif %}
	        			<figcaption>
                    <div class="c-list_item_status -package closed">
                        <div class="horizontal"></div>
                        <div class="vertical"></div>
                    </div>	  	        				
	        				<div class="-visible">
	        				<div class="c-info">
	        					<h3>{{ block.packagesTitle }}</h3>
	        					<p class="c-subtitle">{{block.packagesSubtitle}}</p>
	        				</div>
	        				{% if block.packagesPrice %}
	        				<div class="c-price">
	        					<div>{{block.packagesPrice}} $</div>
	        				</div>
	        				{% endif %}
	        			</div>
							<div class="-hidden-content">
								<div class="c-pt">
									{{block.packagesContent}}
							<div class="c-button -three">
								<a class="c-btn c-btn--primary" href="{{block.packagesLink}}" target="_blank"><span>Acheter maintenant</span></a>
							</div>									
								</div>
							</div>	        				
	        			</figcaption>
      			
	        		</figure>
	        	</li>
	    {% endif %}
	{% endfor %}
	</ul>



</div>
</div></div>
</section>
{% endblock %} 
