{% extends "_pages/layout/site.html" %}
{% block content %}
<section class="o-section c-description">
	<div class="o-wrapper-main">
		<div class="o-wrapper-secondary">
		<h2>Description du spectacle</h2>
		<div class="o-wrap">
			{{event.description}}
		</div>
	</div>
</section>
{% if event.video %}
<section class="o-section c-video">
		<div class="o-wrapper-main">
		<div class="o-wrapper-secondary">
<div style="position:relative;padding-top:56.25%;">
<iframe class="c-video" width="100vw" height="315" src="https://www.youtube.com/embed/{{event.video}}?vq=hd1080&amp;rel=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;nologo=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
</div>

</div>
</div>
</section>


{% endif %}

<section class="o-section c-gallery">
	<div class="o-wrapper-main">
		<div class="o-wrapper-secondary">
			<ul class="o-list-bare c-single_gallery">
				<li><img src="{{event.showsHeaderImage.one.url('slider')}}" alt=""></li>
				{% for image in event.showsGallery.all()%}
				<li><img src="{{image.url('slider')}}" alt=""></li>
				{% endfor %}
			</ul>
			{% if event.showsGallery|length > 0 %}
				<div class="c-option">
					<div class="c-arrows"></div>				
					<div class="c-status"></div>
				</div>			
			{% endif %}
		</div>
	</div>
</section>


<section class="o-section c-description">
	<div class="o-wrapper-main">
		<div class="o-wrapper-secondary">
		<h3>{{info.serviceChargeTitle}}</h3>

		<div class="o-wrap -first">
			{{info.serviceChargeContent}}
		</div>
		<h3>{{info.refundPolicyTitle}}</h3>
		<div class="o-wrap">
			{{info.refundPolicyContent}}
		</div>		
	</div>
</section>


<section class="o-section c-will-like">
		<div class="o-wrapper-main">
		<div class="o-wrapper-secondary">
	<h2>Vous aimerez également</h2>
<ul class="o-layout">
{% for entry in craft.calendar.events({loadOccurrences: false, limit:3,startsAfter: "now", relatedTo: event.disciplines }).order('RAND()').id('not ' ~ event.id) %}

<li class="o-layout__item u-1/3@landscape-small-tablet u-1/2@portrait-medium-tablet">
	<figure>
		<a href="{{entry.url}}">
		<div class="c-will-like_form"></div>
		<div class="c-img-form">
			{% if entry.imageFormat2%}
				<img src="{{entry.showsHeaderImage.one.url('format3')}}" alt="">
			{% else %}
				<img src="{{entry.imageFormat2.one.url('format3')}}" alt="">
			{% endif %}
			</div>
		</a>
	</figure>
</li>

{% endfor %}
</ul>
</div></div>
</section>

	<section class="o-section c-packages-and-subscriptions -v1">
		<div class="o-wrapper-main">
			<div class="o-wrapper-secondary">
				<h2>{{info.infoPackagesSubscriptionsTitle}}</h2>
				<div class="o-wrap">
					{{info.infoPackagesSubscriptionsContent}}		
				</div>
				<div class="c-btn_wrapper">
					<div class="c-button">
						<a class="c-btn c-btn--primary" href="{% if info.packagesLink %}{{info.packagesLink.one.url()}}{% endif %}"><span>Abonnez-vous!</span></a>
					</div>
				</div>	
			</div>
		</div>
	</section>

{% endblock %} 
