{% if craft.app.request.segments|last == _self and craft.app.request.isAjax %}

    {% set pages_list_path_hashed = craft.request.getParam('pagination_list') %}
    {% if craft.app.security.validateData(pages_list_path_hashed) is not same as(false) %}
        {% include craft.app.security.validateData(pages_list_path_hashed) with {
            pagination_parameters: craft.request.getParam('pagination_parameters')
        } %}
    {% endif %}

{% else %}
    {% redirect currentSite.baseUrl 301 %}
{% endif %}