{% set pages = craft.entries.section('showsList').level(1).all() %}

{% set allDates = [] %}

{% for page in pages %}
{% for block in page.showsRepresentation %}

    {% set allDates = allDates|merge([{
        datetime: (block.showsRepresentationDate),
        eventId: (block.id),
        title: (page.title),
        image: (page.showsHeaderImage.one.url())
    }]) %}

    {% endfor %}
{% endfor %}

{% set datesGrouped = allDates|sort|group('eventId') %}
<div class="page-2" id="images">
	{% for eventId, datesInEvent in datesGrouped %}
    	{% if loop.index > 8 %}
    		<div class="c-sf">
        		<h3>{{ eventId }}</h3>        
    		    {% for date in datesInEvent %}
        			{{date.title}}
            		{{ date.datetime|date('Y-m-d') }}
    				<img src="{{date.image}}" alt="">
        		{% endfor %}
    		</div>
        {% endif %}
	{% endfor %}
</div>