{% extends "_pages/layout/site.html" %}
{% block content %}
{% include "_pages/components/component-one" with {title: 0} %}
    <section class="o-section c-component-nine">
        <div class="o-wrapper-main">
            <div class="o-wrapper-secondary">
				<ul class="o-layout c-partners">
				{% for image in entry.imagesGallery.all() %}
					<li class="o-layout__item u-1/4@landscape-small-tablet u-1/3@portrait-medium-tablet u-1/2@portrait-small-handset-v0 u-1/1@portrait-small-handset">{% if image.ressourcesLink %}<a href="{{image.ressourcesLink}}" target="_blank">{% endif %}<img src="{{image.url('partners')}}">{% if image.ressourcesLink %}</a>{% endif %}</li>
				{% endfor %}
				</ul>
            </div>
        </div>
    </section>
{% endblock %} 
